.themeTDP{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    max-width: none;
    box-sizing: border-box;
    padding: 16px 16px 32px 16px;
    border-radius: 16px;

    > .themeTDP_heading{
        height: 64px;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 29.26px;
        color: #16325C;
    }

    > .themeTDP_education{
        margin-top: 16px;
        display: flex;
        gap: 10px;

        > .themeTDP_materialsBlock{
            flex: 1;

            > .themeTDP_materials_list{
                margin-top: 16px;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }

        > .themeTDP_practiceBlock{
            flex: 1;

            > .themeTDP_practice_list{
                margin-top: 16px;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }

        .themeTDP_education_heading{
            font-weight: 400;
            size: 14px;
            line-height: 17.07px;
            color: #16325C;
        }
    }
}


// поменять
@media (max-width: 700px) {
    .themePage_theme{
        >  .themePage_theme_education{
            flex-direction: column;
            min-width: none;
            flex: 1;
        }
    }
}