.chapter{
    padding: 16px 16px 16px 16px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    border-radius: 16px;

    > .chapter_header{
        display: flex;
        position: relative;
        > .chapter_header_logo{
            position: absolute;
            height: 64px;
            width: 64px;
            border-radius: 36px;
            background-color: #6054A3;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: solid white 4px;
            top: -4px;
        }

        > .chapter_header_heading{
            padding-right: 20px;
            margin-left: 32px;
            flex: 1;
            background-color: #F1F1F1;
            height: 64px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            border-radius: 0 32px 32px 0;
            overflow: hidden;

            > .chapter_header_heading_name{
                text-decoration: none;
                padding-left: 52px;
                color: #16325C;
                font-weight: 700;
                font-size: 24px;
                line-height: 29.26px;
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            > .chapter_header_heading_del{
                margin-left: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 32px;
                width: 32px;
                border-radius: 16px;
                background-color: white;
                border: none;
                padding: 0;
                cursor: pointer;
            }
        }
    }

    > .chapter_themes{
        padding: 0 16px 0 86px;
        margin-top: 16px;
        columns: 3;
        gap: 10px;

        > a{
            margin-bottom: 16px;
            text-decoration: none;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #16325C;
        }
    }
}

@media (max-width:1000px) {
    .chapter{
        > .chapter_themes{
            columns: 2;
        }
    }
}

@media (max-width:700px) {
    .chapter{
        > .chapter_themes{
            columns: 1;
        }
    }
}