.chapter{
    padding: 16px 16px 16px 16px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    border-radius: 16px;

    > .chapter_header{
        display: flex;
        position: relative;

        > .chapter_header_logo{
            position: absolute;
            height: 64px;
            width: 64px;
            border-radius: 36px;
            background-color: #6054A3;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: solid white 4px;
            top: -4px;

            > img{
                width: 48px;
                height: 48px;
                border-radius: 100%;

            }
        }

        > .chapter_header_logoInput{
            z-index: 99;
            position: absolute;
            height: 64px;
            width: 64px;
            border-radius: 100%;
            background-color: gray;
            opacity: 0;
            left: 4px;
            // cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-around;
            transition: 0.4s;

            &:hover{
                opacity: 1;
                transition: 0.4s;
            }

            > input{
                width: 100%;
                height: 100%;
                border-radius: 100%;
                cursor: pointer;
                opacity: 0;
                z-index: 100;
            }

            > img{
                width: 40px;
                height: 40px;
                position: absolute;
            }
        }

        > .chapter_header_heading{
            padding-right: 20px;
            margin-left: 32px;
            flex: 1;
            background-color: #F1F1F1;
            height: 64px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            border-radius: 0 32px 32px 0;
            overflow: hidden;

            > .chapter_header_heading_name{
                text-decoration: none;
                padding-left: 52px;
                color: #16325C;
                font-weight: 700;
                font-size: 24px;
                line-height: 29.26px;
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            > input{
                margin-left: 52px;
                // flex: 1;
                border: none;
                outline: none;
                background-color: white;
                border-radius: 16px;
                height: 32px;
                box-sizing: border-box;
                padding: 8px 16px;
                font-family: Montserrat;
                font-weight: 600;
                width: 100%;

                &::placeholder{
                    font-weight: 600;
                    // color: #F1F1F1;
                    text-transform: uppercase;
                }
            }

            > .chapter_header_heading_teacherGroup{
                display: flex;
                gap: 5px;

                > .chapter_header_heading_del{
                    margin-left: 10px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-color: white;
                    border: none;
                    padding: 0;
                    cursor: pointer;

                    > img{
                        width: 30px;
                        height: 30px;
                    }
                }

                > .chapter_header_heading_edit{
                    margin-left: 10px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-color: white;
                    border: none;
                    padding: 0;
                    cursor: pointer;

                    > img{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    > .chapter_themes{
        padding: 0 16px 0 86px;
        margin-top: 16px;
        columns: 3;
        gap: 10px;

        > a{
            margin-bottom: 16px;
            text-decoration: none;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #16325C;
        }
    }
}

@media (max-width:1000px) {
    .chapter{
        > .chapter_themes{
            columns: 2;
        }
    }
}

@media (max-width:700px) {
    .chapter{
        > .chapter_themes{
            columns: 1;
        }
    }
}