header{
    background-color: white;
    height: 64px;
    border: 1px solid #F1F1F1;


    .header_container{
        max-width: 1440px;
        margin: 0 auto;

        .header_inner{
            padding: 0 116px;

            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 64px;
            
            .logo_group{
                text-decoration: none;
                display: flex;
                align-items: center;

                span{
                    margin-left: 8px;

                    width: 72px;
                    font-weight: 900;
                    font-size: 13px;
                    line-height: 16px;
                    text-transform: uppercase;
                    word-break:normal;
                    color: #16325C;
                }
            }

            .searchbar_and_courses{

                display: flex;

                .seatchBar{
                    margin-right: 16px;
                    padding: 0 16px;
                    width: 128px;
                    background-color: #F1F1F1;
                    border-radius: 16px;
                    height: 32px;
                    display: flex;

                    input{
                        background-color: #F1F1F1;
                        outline: none;
                        border: none;
                        font: inherit;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 16px;
                        width: 100px;
                    }
                    input::placeholder{
                        color: #005495;
                    }

                    button{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        outline: none;
                        border: none;
                    }
                    
                }

                .courses{
                    display: flex;
                    align-items: center;

                    span{
                        margin-right: 4px;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 16px;
                        color: #005495;
                    }
                }
            }

            .account{
                .login_join{
                    .login{
                        margin-right: 8px;
                        text-transform: uppercase;
                        cursor: pointer;
                        font-family: 'Montserrat';
                        font-weight: 600;
                        outline: none;
                        border: none;
                        background-color: white;
                        padding: 8px 16px;
                        border-radius: 16px;
                        color: #005495;
                        transition: 0.5s;
                    }

                    .login:hover{
                        background-color: #CACACC;
                        transition: 0.5s;
                    }

                    .join{
                        transition: 0.5s;
                        text-transform: uppercase;
                        cursor: pointer;
                        font-weight: 600;
                        font-family: 'Montserrat';
                        outline: none;
                        border: none;
                        background-color: #005495;
                        padding: 8px 16px;
                        border-radius: 16px;
                        color: white;
                    }

                    .join:active{
                        background: #16325C;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}
