header{
    background-color: white;
    height: 64px;
    border: 1px solid #F1F1F1;

    .header_container{
        max-width: 1440px;
        margin: 0 auto;

        .header_inner{
            padding: 0 116px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 64px;
            position: relative;
            
            .logo_group{
                text-decoration: none;
                display: flex;
                align-items: center;

                img{
                    margin-right: 10px;
                }

                h1{
                    width: 72px;
                    font-weight: 900;
                    font-size: 13px;
                    line-height: 16px;
                    text-transform: uppercase;
                    word-break:normal;
                    color: #16325C;
                }
            }

            .searchbar_and_courses{
                display: flex;

                .courses{
                    margin-left: 16px;
                    display: flex;
                    align-items: center;

                    span{
                        margin-right: 4px;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 16px;
                        color: #005495;
                    }
                }
            }

            .account{

                .login_join{

                    .login{
                        text-decoration: none;
                        text-align: center;
                        margin-right: 8px;
                        text-transform: uppercase;
                        cursor: pointer;
                        font-family: 'Montserrat';
                        font-weight: 600;
                        background-color: white;
                        padding: 8px 16px;
                        border-radius: 16px;
                        color: #005495;
                        transition: 0.5s;
                    }

                    .login:hover{
                        background-color: #CACACC;
                        transition: 0.5s;
                    }

                    .join{
                        text-align: center;
                        text-decoration: none;
                        transition: 0.5s;
                        text-transform: uppercase;
                        cursor: pointer;
                        font-weight: 600;
                        font-family: 'Montserrat';
                        background-color: #005495;
                        padding: 8px 16px;
                        border-radius: 20px;
                        color: white;
                    }

                    .join:active{
                        background: #16325C;
                        transition: 0.5s;
                    }
                }
            }

            .burger{
                display: none;
                margin-left: 10px;

                padding: 0;
                background-color: white;
                outline: none;
                border: none;

                img{
                    width: 20px;
                }
            }
        }
    }
}


@media (max-width: 1000px) {
    header{
        .header_container{
            .header_inner{
                padding: 0 20px;
            }
        }
    }
}

@media (max-width: 700px) {
    header{
        .header_container{
            .header_inner{
                padding: 0 10px;
                display: flex;
                justify-content: start;
                
                .logo_group{
                    span{
                        display: none;
                    }
                }

                .searchbar_and_courses{
                    flex: 1;
                    max-width: 100%;
                    position: relative;
                    .courses{
                        display: none;
                    }
                }

                .account{
                    display: none;
                }

                .burger{
                    display: block;
                }
            }


        }
    }
}